<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon (click)="openFirst()" slot="start" name="menu"></ion-icon>
    <ion-title>Mi Primer Banco</ion-title>
    <ion-icon (click)="cerrarSesion()" slot="end" name="log-out"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item>
            <ion-icon name="id-card" slot="start"></ion-icon>
            <ion-item (click)="insTercero()">Inscribir Tercero</ion-item>
          </ion-item>
          <ion-item>
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-item (click)="trasnferencia()">Transferencias</ion-item>
          </ion-item>
          <ion-item>
            <ion-icon name="id-card" slot="start"></ion-icon>
            <ion-item (click)="crearCuenta()">Crear cuenta nueva</ion-item>
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
 <ion-card>
   <ion-card-header>
     <ion-card-title>Mis cuentas</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <div class="cuenta" *ngFor="let c of cuentas" (click)="verDetalle(c.numero)">
      <div>
        <div class="colum-1"><b>{{ c.alias }}</b></div>
        <div class="colum-2">{{ c.tipo }}</div><br>
      </div>
       <div>
            <div class="colum-1"><b>{{ c.titular }}</b></div>
            <div class="colum-2">{{ c.estado }}</div><br>
      </div>
      <div>
        <div class="colum-1">{{ c.numero }}</div>
        <div class="colum-2">${{ c.monto }}</div><br>
      </div>
     </div>
   </ion-card-content>
 </ion-card>

</ion-content>