<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon slot="start" name="arrow-back" (click)="volver()"></ion-icon>
    <ion-title>Mi Primer Banco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo-detalle">
    Crear cuenta
  </div>
  <div>
  <ion-item>
    <ion-label position="floating">Alias</ion-label>
    <ion-input [(ngModel)]="alias"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tipo de Cuenta</ion-label>
    <ion-select [(ngModel)]="tipo">
      <ion-select-option>Ahorros</ion-select-option>
      <ion-select-option>Corriente</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numero de Cuenta</ion-label>
    <ion-input type=number [(ngModel)]="numero"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Identificacion del Titular</ion-label>
    <ion-input type=number [(ngModel)]="identificacion"></ion-input>
  </ion-item>
</div>
<ion-button color="primary" expand="block" (click)="agregar()">Inscribir</ion-button>

</ion-content>
